<%= form_for(@locat) do |f| %>

    <div class="field">
      <%= f.text_area :city, placeholder: "Vytvor spz..aaa." %>


    </div>
    <%= f.submit "Vytvor location", class: "btn btn-primary" %>

<% end %>