// Place all the styles related to the Parking_places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pn2
{
  padding-top: 20px;
}

span.posun
{
  padding-left: 400px;
  font-weight: bold;

}
.btn.btn-primary
{
  margin-left: 50px;

}
h4.cervena
{
  color: red;
}
.obdlznik
{
  width: 900px;
  padding-top: 10px;


  border-width: medium;
  border-color: #BBBBBB;
}
header{
  padding-bottom: 60px;
}
body{
   background-color: #e5edf4;
}

.sec
{
padding-top: 3px;
  padding-bottom: 20px;
  padding-left: 20px;
  background: mintcream;
}
section.panel2
{

}

h3
{

  font-style: italic;

}
.fiel
{
  width: 100px;
}
.buton
{
  margin-left: 100px;

  background-color: #23527c;
}
.vyhladaj
{
  background-color: aliceblue;
  padding: 20px;
}

.container
{
  paddinga-top: 20px;
  background-color: #ffffff;
}
hr.hrr {
  width: 1000px;
  border: 0; height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }