<header>
  </header>
<body>
<%if  @current_user.parking_places.count == 0%>
  <div class="sec">

    <h3>Pridajte si vaše parkovacie miesto</h3>
    <%= render 'shared/parking_place_form'%>

  </div>
<%end%>

               <div class="vyhladaj">
                  <h3>Vyhľadaj parkovacie miesta</h3>

                      <%= render 'parking_places/search' %>
            </div>


        </div>
        <div class="container prvy">
                <div class = "pn2">
                    <ol class="parking_places">
                      <h1 class="j">Parkovacie miesta</h1>
                        <%= render @parking_places %>
                    </ol>
                </div>
        </div>



</body>
